{% set root_url = 'bookings' %}

{% extends("entity/edit.html.twig") %}

{% block form %}
    <div class="form-group">
        <label for="entity[client_id]">Client</label>
        <select id="client" name="entity[client_id]" required class="form-control">
            <option value=""></option>
            {% for client in clients() %}
                <option value="{{ client['id'] }}" {% if client['id'] == entity['client_id'] %}selected{% endif %}>{{ client }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group">
        <label for="entity[vehicle_id]">Vehicle</label>
        <select id="vehicle" name="entity[vehicle_id]" required class="form-control">
            <option value=""></option>
            {% for vehicle in vehicles() %}
                <option value="{{ vehicle['id'] }}" {% if vehicle['id'] == entity['vehicle_id'] %}selected{% endif %}>{{ vehicle }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group">
        <label for="entity[start_date]">Start</label>
        <input value="{{ entity['start_date']|date("Y-m-d") }}" name="entity[start_date]" required class="form-control" type="date" />
    </div>
    <div class="form-group">
        <label for="entity[end_date]">End</label>
        <input value="{{ entity['end_date']|date("Y-m-d") }}" name="entity[end_date]" required class="form-control" type="date" />
    </div>
    <div class="form-group">
        <input id="check" type="button" class="btn" value="Check upgradability" />
        <span id="message" class="alert"></span>
        <span id="upgraded">
            <input value="{{ entity['upgraded'] }}" name="entity[upgraded]" class="form-check-input" type="checkbox" />
            <label for="entity[upgraded]" class="form-check-label">Upgraded</label>
        </span>
    </div>
{% endblock %}

{% block javascript %}
    <script src="/js/booking.js"></script>
{% endblock %}
