{% extends 'base.html.twig' %}

{% block content %}
    {% if entity['id'] is null %}
        <p>Create a new entity</p>
    {% else %}
        <p>Edit entity</p>
    {% endif %}

    {% if entity['id'] is null %}
        <form action="/{{ root_url }}/add" method="post">
    {% else %}
        <form action="/{{ root_url }}/{{ entity['id'] }}/edit" method="post">
    {% endif %}
        <input type="hidden" name="entity[id]" value="{{ entity['id'] }}" />
        {% block form %}{% endblock %}
        {% if entity['id'] is null %}
            <button type="submit" class="btn btn-primary">Create</button>
        {% else %}
            <button type="submit" class="btn btn-primary">Save</button>
        {% endif %}
        <a href="/{{ root_url }}" class="btn btn-default">Cancel</a>
    </form>
{% endblock %}
