{% extends "base.html.twig" %}

{% block content %}
    <div class="btn-toolbar p-3" role="toolbar">
        <a href="/{{ root_url }}/add" title="New entity" class="btn btn-primary">
            <span class="fa fa-plus-circle"></span> Add
        </a>
    </div>

    {% if pager.iterator.empty() %}
        This is not entitity you are loocking for.
    {% else %}
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    {% for key in fields %}
                        <th>{{ key }}</th>
                    {% endfor %}
                    <th> </th>
                </tr>
            </thead>
            <tbody>
                {% for entity in pager.iterator %}
                    <tr>
                        {% for key in fields %}
                            {% set value = entity[key] %}

                            {% if value is instance_of('DateTime') %}
                                <td>{{ value|date("Y-m-d") }}</td>
                            {% elseif value is same as(true) %}
                                <td>
                                    <span class="fa fa-check-square-o" title="yes"></span>
                                </td>
                            {% elseif value is same as(false) %}
                                <td>
                                    <span class="fa fa-square-o" title="no"></span>
                                </td>
                            {% else %}
                                <td>{{ value }}</td>
                            {% endif %}
                        {% endfor %}
                        <td>
                            <a
                                href="/{{ root_url }}/{{ entity['id'] }}/edit"
                                title="edit"
                                class="btn btn-primary"
                            >
                                <span class="fa fa-edit"></span>
                            </a>
                            <a
                                onclick="return confirm('Are you sure?');"
                                href="/{{ root_url }}/{{ entity['id'] }}/delete"
                                title="delete"
                                class="btn btn-danger"
                            >
                                <span class="fa fa-trash"></span>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {{ include('pager.html.twig', { 'pager': pager }) }}
    {% endif %}
{% endblock %}
