<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Troopers fleet booking</title>
        <link href="/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" media="screen" />
        <link href="/lib/Font-Awesome/css/font-awesome.min.css" rel="stylesheet" media="screen" />
        <link href="/css/main.css" rel="stylesheet" media="screen" />
    </head>
    <body>
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="/">Troopers fleet booking</a>

                <div class="navbar-collapse collapse d-flex justify-content-start">
                    <ul class="navbar-nav">
                        <li class="nav-item"><a class="nav-link" href="/bookings">Booking</a></li>
                        <li class="nav-item"><a class="nav-link" href="/vehicles">Vehicles</a></li>
                        <li class="nav-item"><a class="nav-link" href="/clients">Clients</a></li>
                    </ul>
                </div>
            </nav>

            {% for type, messages in app.flashes() %}
                <div class="alert alert-{{ type }}" role="alert">
                    {% for message in messages %}
                        {{ message }}<br />
                    {% endfor %}
                </div>
            {% endfor %}

            {% block content %}{% endblock %}
        </div>
    </body>

    {% block javascript %}{% endblock %}
</html>
