{% set root_url = 'vehicles' %}

{% extends("entity/edit.html.twig") %}

{% block form %}
    <div class="form-group">
        <label for="entity[name]">Name</label>
        <input type="text" name="entity[name]" value="{{ entity['name'] }}" required class="form-control" />
    </div>
    <div class="form-group">
        <label for="entity[type]">Type</label>
        <select id="type" name="entity[type]" required class="form-control">
            <option value=""></option>
            {% for type in types %}
                <option value="{{ type }}" {% if type == entity['type'] %}selected{% endif %}>{{ type }}</option>
            {% endfor %}
        </select>
    </div>
    <div id="color" class="form-group">
        <label for="entity[color]">Color</label>
        <input type="text" name="entity[color]" value="{{ entity['color'] }}" class="form-control" />
    </div>
{% endblock %}

{% block javascript %}
    <script src="/js/vehicle.js"></script>
{% endblock %}
