{% set root_url = 'clients' %}

{% extends("entity/edit.html.twig") %}

{% block form %}
    <div class="form-group">
        <label for="entity[firstname]">Firstname</label>
        <input type="text" name="entity[firstname]" value="{{ entity['firstname'] }}" required class="form-control" />
    </div>
    <div class="form-group">
        <label for="entity[lastname]">Lastname</label>
        <input type="text" name="entity[lastname]" value="{{ entity['lastname'] }}" required class="form-control" />
    </div>
{% endblock %}
